main{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 1050px;
    margin: 20px;
    align-items: center;
    gap: 40px;
    div {
         @include content-caja ($body, $main)
    }
    h2{
        width: 400px;
        height: 50px;
        padding-top: 6px;
        @extend .sub_title
        
    }
    }